p,
nav,
h1,
h2,
h3,
span,
button,
a {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #232938;
}
main {
  margin-top: 5rem;
}

button:hover {
  cursor: pointer;
}

.hero nav .responsive-mobile {
  display: none;
}

.title p {
  font-size: 40px;
  font-weight: bold;
  color: #92ffd6;
}

p {
  color: #fff;
}

.fa-bars {
  display: none;
}

span {
  font-weight: bold;
}

/* NAVBAR */

.navbar {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background-color: #0a101f;
  z-index: 99999;
}

.navbar .header-logo {
  margin: 10px 0 10px 0;
}

.burger-icon {
  display: flex;
  align-items: center;
}

.navbar-list-btn {
  display: flex;
  gap: 49px;
}

.navbar-list-btn .navbar-list {
  list-style: none;
  display: flex;
  margin: 32px 0 32px 0;
  gap: 25px;
}

.navbar-list-btn .navbar-list li {
  text-decoration: none;
}

.navbar-list-btn .navbar-list li a {
  text-decoration: none;
  color: #5b9e85;
  font-size: 12px;
}

.navbar-list-btn .navbar-list li a:hover {
  color: #92ffd6;
}

.navbar .navbar-list-btn .btn-contact button {
  padding: 20px;
  color: #fff;
  background-color: #b60ed5;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 12px 0;
}

.navbar .navbar-list-btn .btn-contact button:hover {
  background-color: #dc48f7;
}

/* HOME */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 50px;
  gap: 50px;
}

.home .main {
  display: flex;
  flex-direction: column;
}

.home .main p {
  margin: 10px 0;
}

.btn-home {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.btn-inspiration {
  font-weight: bold;
  color: #5b9e85;
  background-color: #232938;
  border: #5b9e85 1px solid;
  border-radius: 5px;
  padding: 20px;
}

.btn-inspiration:hover {
  background-color: #5b9e85;
  color: #fff;
}

/* SERVICE */

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 50px 0;
  background-color: #0a101f;
}

.service p {
  margin: 10px 0;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.services .ui-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px 20px 50px;
  background-color: #92ffd6;
  border-radius: 10px;
}

.fa-tv {
  font-size: 100%;
  color: #fff;
  padding: 15px 13px;
  background-color: #058d75;
  border-radius: 50%;
}

.ui-design .ui-design-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #058d75;
}

.ui-design-content p {
  color: #058d75;
  font-weight: bold;
}

.ui-design-content .fa-arrow-right {
  border-radius: 50%;
  border: #058d75 1px solid;
  padding: 10px;
}

.fa-mobile-screen-button {
  font-size: 150%;
  color: #fff;
  padding: 10px 12px;
  background-color: #605df0;
  border-radius: 50%;
}

.services .ui-ux-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 20px 40px;
  background-color: #92ffd6;
  border-radius: 10px;
}

.ui-ux-design .ui-ux-design-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #605df0;
}

.ui-ux-design-content p {
  color: #605df0;
  font-weight: bold;
}

.ui-ux-design-content .fa-arrow-right {
  border-radius: 50%;
  border: #605df0 1px solid;
  padding: 10px;
}

.fa-code {
  font-size: 100%;
  color: #fff;
  padding: 15px 13px;
  background-color: #ad4ad5;
  border-radius: 50%;
}

.services .web-development {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px 20px;
  background-color: #92ffd6;
  border-radius: 10px;
}

.web-development .web-development-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #ad4ad5;
}

.web-development-content p {
  color: #ad4ad5;
  font-weight: bold;
}

.web-development-content .fa-arrow-right {
  border-radius: 50%;
  border: #ad4ad5 1px solid;
  padding: 10px;
}

/* ABOUT */

.about {
  display: flex;
  padding: 40px 180px;
  gap: 50px;
}

.about-us p {
  margin: 0px 0;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us-list {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 5px;
}

.for-innovation {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.for-innovation .fa-solid {
  font-size: 150%;
  color: #fff;
  background-color: #ad4ad5;
  padding: 15px 13px;
  border-radius: 50%;
  margin: 0 0 15px 0;
}

.innovation {
  font-size: 26px;
  font-weight: normal;
  color: #92ffd6;
}

.about-consultacy {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.about-consultacy .fa-solid {
  font-size: 150%;
  color: #fff;
  background-color: #ad4ad5;
  padding: 15px 15px;
  border-radius: 50%;
  margin: 0 0 15px 0;
}

.consultacy {
  font-size: 26px;
  font-weight: normal;
  color: #92ffd6;
}

.about-quality {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.about-quality .fa-solid {
  font-size: 150%;
  color: #fff;
  background-color: #ad4ad5;
  padding: 15px 15px;
  border-radius: 50%;
  margin: 0 0 15px 0;
}

.quality {
  font-size: 26px;
  font-weight: normal;
  color: #92ffd6;
}

/* PROJECT */

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a101f;
  padding-top: 20px;
  padding-bottom: 70px;
}

.project p {
  margin: 10px 0;
}

.btn-project {
  display: flex;
  gap: 10px;
}

.btn-project button {
  margin-top: 10px;
  font-weight: bold;
  color: #5b9e85;
  background-color: #232938;
  border: #5b9e85 1px solid;
  border-radius: 5px;
  padding: 20px;
}

.btn-project button:hover {
  background-color: #5b9e85;
  color: #fff;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.projects img {
  border-radius: 20px;
  box-shadow: 1px 0 5px 2px #ad4ad5;
}

/* CLIENT */

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 238px 70px 238px;
}

.rating {
  display: flex;
  gap: 26px;
}

.rating p {
  margin-top: 0;
  margin-bottom: 0;
}

.fa-star {
  color: yellow;
}

.client-1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 10px 20px 10px;
  background-color: #ad4ad5;
  border-radius: 10px;
}

.client-2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 10px 20px 10px;
  background-color: #ad4ad5;
  border-radius: 10px;
}

.client-3 {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 10px 20px 10px;
  background-color: #ad4ad5;
  border-radius: 10px;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 0;
}

.comment p {
  margin: 15px 0 0 0;
}

/* COLLABORATED */

.collaborated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0a101f;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn-collaborated {
  margin-top: 50px;
  font-weight: bold;
  color: #5b9e85;
  background-color: #232938;
  border: #5b9e85 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
}

.btn-collaborated:hover {
  background-color: #5b9e85;
  color: #fff;
}

/* EXPERIENCE */

.experience {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 302px 40px 302px;
}

.experience p {
  text-align: center;
}

.btn-start {
  padding: 20px;
  color: #fff;
  background-color: #b60ed5;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.btn-start:hover {
  background-color: #dc48f7;
}

/* FOOTER */

.navbar-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0a101f;
  padding: 20px 0 10px 0;
}

.navbar-list-footer nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.navbar-list-footer nav ul a {
  text-decoration: none;
  color: #5b9e85;
}

.navbar-list-footer nav ul a li {
  list-style: none;
  font-size: 14px;
}

.navbar-list-footer nav ul a li:hover {
  color: #92ffd6;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

/* RESPONSIVE */

@media screen and (min-width: 320px) and (max-width: 767px) {
  /* NAVBAR */

  .navbar {
    justify-content: space-between;
    padding: 8px 0;
  }

  .navbar-list-btn .navbar-list li a {
    display: none;
  }

  .header-logo {
    padding-left: 20px;
  }

  .btn-contact {
    display: none;
  }

  .burger-icon {
    display: flex;
    padding-right: 20px;
  }

  .fa-bars {
    display: flex;
    color: #fff;
  }

  /* HOME */

  main {
    text-align: center;
    margin-top: 6rem;
  }

  .main .home-content {
    display: none;
  }

  .main-home p {
    text-align: center;
    font-size: 26px;
  }

  .home {
    align-items: center;
    padding: 30px 50px;
  }

  .home .main {
    padding: 0;
  }

  .img-home {
    display: none;
  }

  .btn-home {
    display: flex;
    flex-direction: column;
  }

  /* SERVICE */

  .service {
    text-align: center;
    padding: 20px 20px 30px 20px;
  }

  .main-services p {
    text-align: center;
    font-size: 26px;
  }

  /* ABOUT */

  .about {
    text-align: center;
    padding: 20px 20px 30px 20px;
  }

  .about-us .title p {
    font-size: 26px;
  }

  .about-img {
    display: none;
  }

  .about-content {
    display: none;
  }

  .about-us-list {
    margin-top: 20px;
    gap: 20px;
  }

  .for-innovation {
    flex-direction: column;
    gap: 0;
  }

  .about-consultacy {
    flex-direction: column;
    gap: 0;
  }

  .about-quality {
    flex-direction: column;
    gap: 0;
  }

  /* PROJECT */

  .project {
    padding: 0 20px 30px 20px;
  }

  .projects img {
    height: 100%;
    width: 100%;
  }

  .project .title p {
    font-size: 26px;
  }

  .project-content {
    display: none;
  }

  .btn-project {
    display: none;
  }

  /* CLIENT */
  .client {
    text-align: center;
    padding: 0 20px 30px 20px;
  }

  .rating {
    flex-direction: column;
    margin: 0 50px;
  }

  .client .title p {
    font-size: 26px;
  }

  /* CAREER */

  .collaborated .title p {
    font-size: 26px;
    text-align: center;
  }

  /* EXPERIENCE */
  .experience {
    padding: 0 20px 30px 20px;
  }

  .experience .title p {
    font-size: 26px;
  }

  /* FOOTER */
  .navbar-list-footer {
    display: flex;
    text-align: center;
  }

  .navbar-list-footer nav ul {
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }
}
