p,
nav,
h1,
h2,
h3,
span,
button,
a {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #232938;
}
main {
  margin-top: 5rem;
}

button:hover {
  cursor: pointer;
}

.hero nav .responsive-mobile {
  display: none;
}

.title p {
  font-size: 40px;
  font-weight: bold;
  color: #92ffd6;
}

p {
  color: #fff;
}

/* NAVBAR */

.navbar {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 100%;
  background-color: #0a101f;
  z-index: 99999;
}

.navbar .header-logo {
  margin: 10px 0 10px 0;
}

.navbar-list-btn {
  display: flex;
  gap: 49px;
}

.navbar-list-btn .navbar-list {
  list-style: none;
  display: flex;
  margin: 32px 0 32px 0;
  gap: 25px;
}

.navbar-list-btn .navbar-list li {
  text-decoration: none;
}

.navbar-list-btn .navbar-list li a {
  text-decoration: none;
  color: #5b9e85;
  font-size: 12px;
}

.navbar-list-btn .navbar-list li a:hover {
  color: #92ffd6;
}

.navbar .navbar-list-btn .btn-contact button {
  padding: 20px;
  color: #fff;
  background-color: #b60ed5;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin: 12px 0;
}

.navbar .navbar-list-btn .btn-contact button:hover {
  background-color: #dc48f7;
}

/* PROJECT */
.project {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1s;
}

.project-title {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.project-title p {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  color: #92ffd6;
}

.project-box {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 120ch;
  display: grid;
  place-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1.5;
}

.project-box .image-box {
  transition: 0.5s all ease-in-out;
}

.project-box .image-box:hover {
  transform: scale(0.98);
}

.project-box .image-box img {
  width: 300px;
  border-radius: 10px;
}

.project-box .image-box p {
  display: none;
}

.project-box .image-box:hover p {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #92ffd6;
  background: rgba(19, 19, 44, 0.9);
  animation: fadeIn 1s;
}
/* EXPERIENCE */

.experience {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 302px;
}

.experience p {
  text-align: center;
}

.btn-start {
  padding: 20px;
  color: #fff;
  background-color: #b60ed5;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.btn-start:hover {
  background-color: #dc48f7;
}

/* FOOTER */

.navbar-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0a101f;
  padding: 20px 0 10px 0;
}

.navbar-list-footer nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navbar-list-footer nav ul a {
  text-decoration: none;
  color: #5b9e85;
}

.navbar-list-footer nav ul a li {
  list-style: none;
  font-size: 14px;
}

.navbar-list-footer nav ul a li:hover {
  color: #92ffd6;
}

.copyright {
  text-align: center;
}

/* Keyframe */
/* Keyframes animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
